.Fish{
    height: 50px;
    width: 100%;
    background:#f0f0f0 ;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

mat-chip{
    height: 28px;
    width: 120px;
    border-radius: 15px;
    background: #d8d7d7;
    margin:5px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}