@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Balsamiq+Sans&family=Lato&family=Roboto:wght@500&display=swap');

*{
    font-family: 'Amatic SC', cursive;

    font-family: 'Architects Daughter', cursive;

    font-family: 'Balsamiq Sans', cursive;

    font-family: 'Lato', sans-serif;

    font-family: 'Roboto', sans-serif;
}


.mdc-card{
    margin: 10px;
    background-color: #fff;
    height: 160px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 1px 1px 1px 1px gray;
}

button{
    height: 22px;
    cursor: pointer;
    border: none;
    background: #fff;   
    margin-right: 15px;
    font-size: 15px;
    border-radius: 1px;

}


p{
    font-size: 10px;
    margin-top: 20px;
    color: #afadad;
}
.demo-card__primary-action{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.demo-card__primary{
    margin:0  10px 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.mdc-card__media{
height: 117px;
width: 117px;

background-size: cover;
}


.demo-card_primary-content{
    width: 280px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
  
}

.demo-card__title{
    margin-bottom: 0;
}

.demo-card__subtitle{
    font-size: 10px;
    margin-top: 0;
    margin-bottom: auto;
    color: #908e8e;
    
}

.mdc-card__actions{
    margin: 10px 10px;
    display: flex;
}

.mdc-card__action-buttons{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mdc-button{
    background: #fff;
    color: #9c1de7;
    border: none;
}

.mdc-card__action-icons{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
     
}